body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.cell {
  display: inline-block;
  background: #fff;
  border: 1px solid #999;
  font: 6px "Century Gothic", Futura, sans-serif;
  font-size: 6px;
  font-weight: bold;
  line-height: 9px;
  height: 10px;
  margin-right: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
  padding: 0;
  text-align: center;
  width: 10px;
}

.cell:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.board {
  white-space: nowrap;
  font: 6px "Century Gothic", Futura, sans-serif;
}
